# Dependencies
node_modules/
package-lock.lock

# Production
.env*
*.pem
*.key
*.crt

# Next.js
.next/
out/

# PM2
pm2.log

# Docker
.dockerignore
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.code-workspace

# Environment variables
.env.example

# Logs
*.log

# Mac
.DS_Store
